{{#extends "base"}}
{{#block "content"}}
        <h2>Add Product Form</h2>
        <form method="post"> <!-- Replace /your-endpoint with your form submission endpoint -->
            <!-- Name Field -->
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <!-- Price Field -->
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" required>
            </div>

            <!-- Description Field -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>

            <!-- Expiry Date Field -->
            <div class="mb-3">
                <label for="exp" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" id="exp" name="exp" required>
            </div>

            <!-- UoM Field -->
            <div class="mb-3">
                <label for="uomId" class="form-label">Unit of Measurement</label>
                <select class="form-control" id="uomId" name="uom_id">
                    <option value="">------</option>
                    {{#each uoms}}
                        <option value="{{this.uom_id}}">{{this.uom}}, {{this.description}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Category Field -->
            <div class="mb-3">
                <label for="categoryId" class="form-label">Category</label>
                <select class="form-control" id="categoryId" name="category_id">
                    <option value="">------</option>
                    {{#each categories}}
                        <option value="{{this.category_id}}">{{this.category}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{/block}}
{{/extends}}