{{#extends "base"}}
{{#block "content"}}
        <h2>Products Form</h2>
        <form method="post"> <!-- Replace /your-endpoint with your form submission endpoint -->
             <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{product.name}}" required>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" value="{{product.price}}" required>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"  value="{{product.description}}"></textarea>
            </div>

            <div class="mb-3">
                <label for="exp" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" id="exp" name="exp" value = "{{products.exp}}"required>
            </div>


        <!-- UoM Field -->
            <div class="mb-3">
                <label for="uomId" class="form-label">Unit of Measurement</label>
                <select class="form-control" id="uomId" name="uom_id">
                    <option value="0">------</option>
                    {{#each uoms}}
                        <option value="{{this.uom_id}}"
                            {{#eq this.uom_id ../products.uom_id}}
                                selected
                            {{/eq}}>{{this.uom}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Category Field -->
            <div class="mb-3">
                <label for="categoryId" class="form-label">Category</label>
                <select class="form-control" id="categoryId" name="category_id">
                    <option value="">------</option>
                    {{#each categories}}
                        <option value="{{this.category_id}}"
                        {{#eq this.category_id ../products.category_id}}
                                selected
                        {{/eq}}>{{this.category}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{/block}}
{{/extends}}